body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-4, .bgimg-5{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('pagina13-scraperi-autimatizati-reduceri-pentru-fiecare-fashion-beauty-babies.jpeg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("pagina13-va-gasi-cele-mai-bune-reduceri-pentru-cadouri-frumoase.webp");
  min-height: 400px;
}

/* Fourth image (Beauty) */
.bgimg-4 {
  background-image: url("reduceri-beauty-totul-pentru-a-fi-frumoasa.jpeg");
  min-height: 700px;
}
/* Fourth image (Books) */
.bgimg-5{
  background-image: url("books-page-reduceri-pentru-cartile-care-te-inalta.jpeg");
  min-height: 700px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-4, .bgimg-5  {
    background-attachment: scroll;
    min-height: 400px;
  }
}


/* Newsletter form details */
.form > h4 {
  text-align: center;
  font-size: 20px;
}

.input-search {
  padding: 3px;
  font-size: 15px;
  font-weight: 600;
  width: 400px;

}

.form .btn-search {
  background-color: whitesmoke;
  font-size: 18px;
  outline: 2px solid gray;
}

.beauty_h1 > h1 {
  text-align: center;
  font-size: 40px;
}


