{% extends 'base.html' %}

{% block title %}
Acasa - scraping reduceri automatizate
{% endblock %}


{% block body %}

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">PAGINA13 - <span class="w3-hide-small">REDUCERI</span> AUTOMATIZATE</span>
    </div>
 </div>
  
  <!-- Container (About Section) -->
  <div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">Despre mine, despre proiectul Pagina13.ro</h3>
    <p class="w3-center"><em>Pasiunea este codingul (chiar daca sunt self-taught programer)</em></p>
    <p>De-a lungul timpului am creat tot felul de scraperi si aplicatii Web greu accesibile. Adica, aplicatiile trebuiau rulate dintr-un Terminal din Linux sau dintr-un windows cmd. Pentru majoritatea acest lucru era practic imposibil, pentru altii de-a dreptul 
      incomod, asa ca am dat frau liber imaginatiei si m-am apucat sa fac o aplicatie web care va putea fi folosita atat de oameni tehnici cat si de oameni non-tehnici. Aplicatie care sa fie accesibila la click si, cel mai important, <strong> o aplicatie care va fi actualizata zi de zi, in mod automatizat.</strong>
    </p>

    <p>Imi propun "sa vanez" reducerile de pe marile site-uri din Romania, iar rezultatele sa le afisez intr-un mod placut si usor accesibil pentru tine, drag cititor si oaspete binevenit. Dupa cum ti-au dat bine seama, aceasta aplicatie va culege, intr-un mod eficient, 
      reducerile de pe alte site-uri. Traiasca Marketingul Afiliat. :))
    </p>

    <div class="w3-row">
      <div class="w3-col m6 w3-center w3-padding-large">
        <p><b><i class="fa fa-user w3-margin-right"></i>Andrei Cerlina Cojocaru</b></p><br>
        <img src="static/css/Andrei-Cerlina-Cojocaru-scraper-python-developer-self-taught-programer.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="fotografie cu Andrei Cerlina Cojocaru python developer beginner linux user" width="350" height="250">
      </div>
  
      <!-- Hide this text on small devices -->
      <br><br>
      <div class="w3-col m6 w3-hide-small w3-padding-large">
        <p>Bine ati venit pe site-ul meu. Incet, dar cu pasi siguri, va voi asigura cu cele mai interesante reduceri. Voi sta de garda zi si noapte ca sa vanez reduceri. Pentru inceput, voi sta cu terminalul deschis, pana mai vad daca merge ideea, 
          apoi voi crea boti care vor intoarce reducerile in timp real. Dar pana atunci mai este drum lung. Asa ca, deocamdata, sa vedem cum ma descurc cu acest proiect micut. Pana acum am mai creat si alte proiecte, dar nu erau la de fel de 
          promitatoare si cu o astfel de perspectiva - perspectiva automatizata. 
        </p>
        <p>
          Deocamdata imi urez singur succes. Incet-incet vom vedea cum prinde viata acest proiect. Aceasta idee m-a vizitat acum ceva luni. Si am lucrat mult timp sa o pun in practica. Daca doriti sa-mi oferiti un feedback sau o 
          sugesti de imbunatatire as fi foarte bucuros sa le citesc si le respect termenul de prescriptie. 
        </p>
      </div>
    </div>
    <p class="w3-large w3-center w3-padding-16">Sunt bunicel la:</p>
    <p class="w3-wide"><i class="fa fa-tasks"></i>Scraping</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-laptop"></i>Automatizare cu Selenium/Bash</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:60%">60%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-wordpress"></i>Automatizare Wordpress</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:70%">70%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-desktop""></i>Web Design</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
  </div>
  
  <div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">10+</span><br>
      Site-uri de afiliere
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">100+</span><br>
      Scraperi realizati
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">13+</span><br>
      Proiecte active
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">1000+</span><br>
      Indexari in Motoare de Cautare
    </div>
  </div>
  
  <!-- Second Parallax Image with Portfolio Text -->
  <div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ALEGE <span class="w3-hide-small">CADOUL</span> PERFECT!</span>
    </div>
  </div>
{% endblock %}
