{% extends 'base.html' %}

{% block title %}
Books - aventuri aproape gratis
{% endblock %}


{% block body %}
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-5 w3-display-container w3-opacity-min" id="books">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">CARTI <span class="w3-hide-small"> CARE </span>TE INALTA</span>
    </div>
</div>

<br> 
<div class="beauty_h1"> 
  <h1> Nu rata sa platesti putin pentru carti bune! </h1>
</div>




{% endblock %}